.text-color{
    color:#D1D4DC;
}

.div-empresas {
    background-color: #2c3546;
}

.div-pie-chart {
    background-color: #2c3546;
}

.div-principal{
    background-color:#272A39; 
}

.div_interno{
    width: 95%;
}
